<form [formGroup]="form" (ngSubmit)="guardarCambios()">
  <div formArrayName="actividades">
    <div *ngFor="let actividad of actividades.controls; let i = index" [formGroupName]="i">
      <mat-form-field appearance="outline">
        <mat-label>Nombre de la Actividad</mat-label>
        <input matInput formControlName="nombre">
        <mat-error *ngIf="actividad.get('nombre')?.invalid">Nombre de la actividad es requerido</mat-error>
      </mat-form-field>

      <div formArrayName="subactividades">
        <div *ngFor="let subactividad of getSubactividadesControls(actividad); let j = index" [formGroupName]="j">
          <mat-form-field appearance="outline">
            <mat-label>Nombre de la Subactividad</mat-label>
            <input matInput formControlName="nombre">
            <mat-error *ngIf="subactividad.get('nombre')?.invalid">Nombre de la subactividad es requerido</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Fecha de Inicio</mat-label>
            <input matInput [matDatepicker]="pickerInicio" formControlName="fecha_inicio">
            <mat-datepicker #pickerInicio></mat-datepicker>
            <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
            
            <mat-error *ngIf="subactividad.get('fecha_inicio')?.invalid">Fecha de inicio es requerida</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Fecha de Fin</mat-label>
            <input matInput [matDatepicker]="pickerFin" formControlName="fecha_fin">
            <mat-datepicker #pickerFin></mat-datepicker>
            <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
            <mat-error *ngIf="subactividad.get('fecha_fin')?.invalid">Fecha de fin es requerida</mat-error>
          </mat-form-field>
        </div>
        <button mat-button type="button" (click)="agregarSubActividad(i)">Agregar Subactividad</button>
      </div>
    </div>
    <button mat-button type="button" (click)="agregarActividad()">Agregar Actividad</button>
  </div>

  <button mat-raised-button color="primary" type="submit">Guardar Cambios</button>
</form>