<h2>Roles</h2>

<div class="mat-elevation-z8">
  <form>
    <table mat-table [dataSource]="fuenteDatos">
    
      <!-- Nombre -->
      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>
  
      <!-- Crear -->
      <ng-container matColumnDef="Crear">
        <th mat-header-cell *matHeaderCellDef> Crear </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox [checked]="element.crear === 1" (change)="cambioCheckbox(element, 'crear', $event)"></mat-checkbox>
        </td>
      </ng-container>
  
      <!-- Leer -->
      <ng-container matColumnDef="Leer">
        <th mat-header-cell *matHeaderCellDef> Leer </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox [checked]="element.leer === 1" (change)="cambioCheckbox(element, 'leer', $event)"></mat-checkbox>
        </td>
      </ng-container>

      <!-- Actualizar -->
      <ng-container matColumnDef="Actualizar">
        <th mat-header-cell *matHeaderCellDef> Actualizar </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox [checked]="element.actualizar === 1" (change)="cambioCheckbox(element, 'actualizar', $event)"></mat-checkbox>
        </td>
      </ng-container>

      <!-- Borrar -->
      <ng-container matColumnDef="Borrar">
        <th mat-header-cell *matHeaderCellDef> Borrar </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox [checked]="element.borrar === 1" (change)="cambioCheckbox(element, 'borrar', $event)"></mat-checkbox>
        </td>
      </ng-container>

      <!-- Acciones -->
      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="guardarCambios(element)">Guardar</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="columnasMostradas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnasMostradas;"></tr>
    </table>
  </form>

</div>