<mat-toolbar>
    <span>
        <div>
            <a mat-button routerLink="usuarios">
                <mat-icon>person</mat-icon>Usuarios
            </a>
        </div>
    </span>

    <div>
        <a mat-button routerLink="rectorias">
            <mat-icon>business</mat-icon>Rectoría
        </a>
    </div>

    <div>
        <a mat-button routerLink="sedes">
            <mat-icon>home</mat-icon>Sedes
        </a>
    </div>

    <div>
        <a routerLink="calendario/academico" mat-button>
            <mat-icon>menu_book</mat-icon> Calendario académico
        </a>
    </div>

    <div>
        <a mat-button routerLink="calendario/financiero">
            <mat-icon>attach_money</mat-icon> Calendario financiero
        </a>
    </div>

    <div>
        <a mat-button routerLink="calendario/grados">
            <mat-icon>school</mat-icon>Calendario de grados
        </a>
    </div>   

</mat-toolbar>