<mat-toolbar>
    <span>
        <a routerLink="" mat-button>
            <mat-icon>calendar_month</mat-icon> Calendarios
        </a>
    </span>

    <!-- <app-autorizado rol="administrador"> -->
        <div>
            <a routerLink="rol" mat-button>
                <mat-icon>groups</mat-icon> Roles
            </a>
        </div>
    
        <div>
            <a routerLink="usuarios" mat-button>
                <mat-icon>person</mat-icon> Usuarios
            </a>
        </div>
    
        <div>
            <a routerLink="logs" mat-button> 
                <mat-icon>list_alt</mat-icon>  Logs
            </a>
        </div>

    <!-- </app-autorizado> -->


</mat-toolbar>