mat-toolbar{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.usuario-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.foto-usuario {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}