<mat-toolbar>
    <span>
        <a routerLink="" mat-button>
            <mat-icon>calendar_month</mat-icon> Calendarios
        </a>
    </span>

    <div>
        <a routerLink="periodos" mat-button>
            <mat-icon>date_range</mat-icon> Periodos
        </a>
    </div>

    <div>
        <a routerLink="rectorias" mat-button>
            <mat-icon>business</mat-icon> Rectorías
        </a>
    </div>

    <div>
        <a routerLink="sedes" mat-button>
            <mat-icon>home</mat-icon> Sedes
        </a>
    </div>

    <div>
        <a routerLink="rol" mat-button>
            <mat-icon>groups</mat-icon> Roles
        </a>
    </div>

    <div>
        <a mat-button routerLink="usuarios">
            <mat-icon>person</mat-icon> Usuarios
        </a>
    </div>
</mat-toolbar>