mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #213b61;
}

/* Contenedor principal */
.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-bar a {
  color: white;
}

.menu-bar a:hover {
  background-color: white;
  color: #213b61;
}

/* Espaciador flexible */
.spacer {
  flex: 1 1 auto;
}

/* Sección usuario */
.usuario-info {
  display: flex;
  align-items: center;
}

.usuario-btn .correo{
  text-transform: none; /* evita mayúsculas forzadas */
  color: white;
}

.usuario-btn:hover {
  background-color: white;
}

.usuario-btn:hover .correo {
  color: #213b61;
}

.correo {
  font-size: 14px;
  opacity: 0.9;
  white-space: nowrap; /* evita que el correo se corte en varias líneas */
}
