/* Separaci贸n entre botones */
button {
    margin-right: 1rem;
}

mat-form-field{
    width: 100%;
    max-width: 500px;
    /* Separar los mat form field's */
    display: block;
    margin-top: 1rem;
}

/* Separaci贸n entre c贸digo de error y el bot贸n  */
.contenedor-botones{
    margin-top: 1rem;
}