/* Separación entre botones */
button {
    margin-right: 1rem;
}

mat-form-field{
    width: 100%;
    max-width: 500px;
    /* Separar los mat form field's */
    display: block;
    margin-top: 1rem;
}

/* Separación entre código de error y el botón  */
.contenedor-botones{
    margin-top: 1rem;
}