/* .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #2980b9, #6dd5fa);
  }
  
  .login-card {
    width: 350px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 10px;
  }
   */



   .login-container {
    display: flex;
    height: 100vh;
    background-color: #162644;
  }
  
  .login-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    background-color: #ffffff;
  }
  
  .logo-container {
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .logo {
    max-width: 80%;
    max-height: 80%;
  }
  
  .login-title {
    color: #162644;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .login-right {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.mat-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* Espacio entre la imagen y el texto */
}