.login-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #162644;
  }
  
  .login-left {
    width: 50%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .login-logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 1.5rem;
  }
  
  .logo-img {
    max-width: 80%;
    max-height: 80%;
  }
  
  .login-title {
    text-transform: uppercase;
    color: #162644;
    margin-bottom: 1rem;
  }
  
  .login-btn {
    background-color: #000;
    color: white;
    padding: 0.5rem 1.2rem;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .login-btn-icon {
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
  }
  
  .login-right {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  